@import "../../../foundations/sass/all";

.hero {
  text-align: center;
  background-image: url("../../../../public/images/image_about-bg.png");
  padding: px-to-rem(120) px-to-rem(95);
  color: $white-floral;
  &__title {
    font-size: $h-2;
    font-weight: $fw-bold;
    line-height: px-to-rem(41);
  }
  &__sub-title {
    font-size: $fs-md;
    font-weight: $fw-normal;
    line-height: px-to-rem(21);
  }
}
